.banner{
    width: 100%;
    display: block;
    padding-top: 42%;
    @include cover-bg;
    &--text{
        position: relative;
        & .bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & p{
                font-size: rem(50);
                font-weight: 700;
            }
        }
    }
}