.button{
    padding: 1rem 2em;
    display: inline-block;
    color: $main-color;
    width: $sm-width;
    background-color: $white;
    border-radius: rem(9);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @include bouton;
    &:hover{
        background-color: $hover-main-color;
        color: $bg-color;
    }
    &-inversed{
        background-color: $main-color;
        color: $white;
        &:hover{
            background-color: $hover-main-color;
        }
    }
    &-secondary{
        display: flex;
        align-items: center;
        margin-right: rem(50);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding: rem(6) rem(12);
        background-color: $main-color;
        color: white;
        border-radius: rem(5);
        font-size: rem(14);
        @include bouton;
        .plus{
            height: rem(13);
            width: rem(13);
            margin-right: rem(10);
        }
        &:hover{
            background-color: $hover-main-color;
        }
    }
    @media screen and (max-width:760px){
        font-size: rem(12);
    }
    @media screen and (max-width: $sm-width){
        width: 100%;
    }
    &:hover{
        background-color: $hover-main-color;
    }
}
//button page user add user
.add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .line{
        background-color: #BABABA;
        height: rem(1);
        margin-bottom: rem(57);
        margin-top: rem(48);
    }
    button{
        @include bouton;
        width: rem(66);
        border-radius: 50%;
        height: rem(66);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        .icon-plus{
            width: 100%;
            height: 100%;
            margin: 0;
            color: $main-color;
            transition: 0.8s;
            &:hover{
                color: $hover-main-color;
            }
        }
    }
}

//button icon delete and modify
.icon-btn{
    button{
        @include bouton;
        width: rem(26);
        height: rem(26);
        background-color: transparent;
        &:first-child{
            margin-right: rem(15);
        }
        .modifier{
            width: 100%;
            height: 100%;
            margin-right: 0;
            color: $main-color;
        }
        .delete{
            width: 100%;
            height: 100%;
            margin: 0;
            color: $red;
        }
    }
    
}
//filter Btn
.custom-select{
    position: relative;
    display: flex;
    align-items: center;
    select{
        appearance: none;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: rem(16);
    }
    .iconify{
        width: rem(20);
        height: rem(20);
        color: $main-color;
        margin-right: 0;
        margin-left: rem(6);
    }
}
//burger menu
.mobile-menu-btn{
    @include bouton;
    height: rem(23);
    width: rem(27);
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-between;
    margin-right: rem(15);
    div{
        background-color: $main-color;
        height: rem(3);
        width: 100%;
    }
}

@media screen and (max-width: $sm-width){
    .button{
        &-secondary{
            .plus{
                margin-right: rem(5);
            }
            margin-right: rem(10);
            padding: rem(3) rem(6)!important;
            p{
                font-size: rem(12)!important;
            }
        }
    }
    .custom-select{
        select{
            font-size: rem(14)!important;
        }
        .iconify{
            width: rem(18);
            height: rem(18);
            color: $main-color;
            margin-right: 0;
            margin-left: rem(4);
        }
    }
    .icon-btn{
        button{
            @include bouton;
            width: rem(18);
            height: rem(18);
            &:first-child{
                margin-right: rem(7);
            }
        }
    }
    .add-btn{
        .line{
            margin-bottom: rem(25);
            margin-top: rem(15);
        }
        button{
            @include bouton;
            width: rem(50);
            height: rem(50);
        }
    }
}