$container-width: 1040px;
$gutter-width: 20px;
$col-nb:11;
$sm-width:490px;//phone
$md-width:1000px; //ipad
$lg-width:1300px;



.container{
    width: 100%;
    padding-top: 11vh;
    padding-left: 15%;
    margin: 47px 67px 20px;
    & > section{
        padding-top: 40px;
    }
    &-fluid{
        width: 100%;
        margin: 0;
    }
}
.row{
    display: flex;
    margin: 0 -10px;
    width: auto;
    padding-bottom: 20px;
    flex-wrap: wrap;
    &-space-between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


@for $i from 1 through $col-nb {
    .col-#{$i} {
        flex-basis: ((100 / $col-nb) * $i) * 1%;
        width: ((100 / $col-nb) * $i) * 1%;
        padding: 0 ($gutter-width/2);
    }
    .col-#{$i} {
        & .col-inner{
            padding: rem(35) rem(24);
        }
    }
}

@media screen and (max-width: $sm-width){
    .container{
        width: 100%;
        margin: 20px 15px 10px 15px;
        padding-left: 0;
        padding-top: 65px;
        & > section{
            padding-top: 20px;
        }
        .col-inner{
            padding: rem(25) rem(15);
        }
        @for $i from 1 through $col-nb {

            @if($i >= 5){
                .col-md-#{$i} {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 0 ($gutter-width/2);
                    // margin: 5px 0;
                }
                .col-lg-#{$i} {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 0 ($gutter-width/2);
                    // margin: 5px 0;
                }
                .col-sm-#{$i} {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 0 ($gutter-width/2);
                    margin: 5px 0;
                }
            }
            @else{
                .col-sm-#{$i} {
                    flex-basis: 50%;
                    width: 50%;
                    padding: 0 ($gutter-width/2);
                    // margin: 5px 0;
                }
            }
        }
    }
}

@media screen and (max-width: $md-width)and (min-width: $sm-width){
    .container{
        max-width: 900px;
        padding-left: rem(175);
        @for $i from 1 through $col-nb {

            @if($i >= 5){
                .col-md-#{$i} {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 0 ($gutter-width/2);
                    // margin: 5px 0;
                }
            }
        }
        @for $i from 1 through $col-nb {

            @if($i >= 5){
                .col-lg-#{$i} {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 0 ($gutter-width/2);
                    // margin: 5px 0;
                }
            }
        }
    }
}
@media screen and (min-width: $md-width) and (max-width: $lg-width){
    .container{
        max-width: 1150px;
        padding-left: rem(200);
        @for $i from 1 through $col-nb {

            @if($i >= 5){
                .col-lg-#{$i} {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 0 ($gutter-width/2);
                    // margin: 5px 0;
                }
            }
        }
        
    }
}
@media screen and (min-width: $lg-width){
    .container{
        max-width: 100%;
    }
}