$slide-width: 36rem;
$slide-height: 24rem;

.slider{
    width: $slide-width;
    height: $slide-height;
    overflow: hidden;
    position: relative;
    .slides-container{
        display: flex;
        height: 100%;
        position: relative;
        transition: left 1s;
        left: 0;
    }
    .slide{
        width: $slide-width;
        //pour palier le probleme des image deformer
        object-fit: cover;
        object-position: center;
    }
    nav{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        button{
            width: 60px;
            height: 40px;
            background-color: white;
            border: none;
            border-radius: 0;
            outline: none;
            cursor: pointer;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../assets/images/arrow.svg');//url du dist
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.prev::before{
                transform: rotate(180deg);
                transform-origin: center;
            }
        }
    }
}