.card-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(55);
    position: absolute;
    z-index: 5;
    top: 5vh;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    left: 15%;
    right: 0px;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: rem(9);
    width: rem(430);
    button{
        @include bouton;
        background-color: transparent;
        color: $main-color;
        font-size: rem(15);
        padding: rem(2) rem(5);
        border-radius: 4px;
        &:hover{
            background-color: $main-color;
            color: $white;
        }
    }
    &-success{
        border-top: solid #42DA74 8px;
        p{
            font-size: rem(16);
            font-weight: 300;
            color: #42DA74;
            width: 90%;
        }
        
    }
    &-error{
        @extend .card-message;
        border-top: solid $red 8px;
        p{
            color: $red;
        }
    }
    
}

.delete-user{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    top: 0;
    // opacity: 0.5;
    left: 0;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-message{
        position: relative;
        top: 0;
        left: 0;
        width: 600px;
        margin: 0;
        p{
            font-size: 1.5rem;
        }
        .bouton{
            display: flex;
            align-items: center;
            button{
                font-size: 1rem;
                margin: 0 5px;
            }
        }
    }
   
}
@media screen and (max-width: $sm-width) {
    .card-message{
        left: 0;
        width: 90%;
       
    }
    .delete-user{
        .card-message{
            width: 90%;
            p{
                font-size: 1rem;
            }
            .bouton{
                button{
                    font-size: .75rem;
                }
            }
        }
       
    }
}