.icon-btn-articles {
    margin-top: 100px !important;
}

.row-articles{
    display: flex;
    padding-bottom: 0;
    .utilisateur{
        margin-bottom: rem(47);
        background-color: $white;
        display: flex;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        justify-content: space-between;
        border-radius: rem(9);
        align-items: center;
        
    }
}