.row-card.comment-page{
    .card{
        .info{
            min-width: 14rem;
            border-right: 1px solid $grey;
            margin-right: 3.125rem;
            h2{
                margin-bottom: 1rem;
            }
            p{
                margin-bottom: .4375rem;
            }
        }
        .commentaire{
            margin-right: 1.25rem;
            display: flex;
            flex-direction: column;
            p{
                line-height: 1.5rem;
            }
            .read-more{
                margin-top: 1.5625rem;
                text-align: end;
                font-weight: 300;
                font-style: italic;
                color: $hover-main-color;
                text-decoration: none;
            }
        }
        .icon-btn{
            button{
                margin: 0;
            }
        }
    }    
}

@media screen and (max-width: $md-width) {
    .row-card.comment-page{
        .card{
            .info{
                min-width: 8rem;
            }
        }
    }
}