.container{
    .create_user{
        background-color: $white;
        margin-bottom: rem(20);
        padding: rem(20) rem(20) 0 rem(20);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: rem(9);
        h1{
            color: $main-color;
            margin-bottom: rem(20);
        }
        .form_create_user{
            label,
            #firstname,
            #lastname,
            #email,
            #pwd,
            #pwdConfirm{
                color: $main-color;
            }
            input{
                border-bottom: solid $main-color 1px;
                color: $main-color;
            }
            input#Administrateur,
            input#Editeur{
                width: 20px;
            }
        }
    }
}

@media screen and (max-width: $sm-width) {
    .create_user{
        h1{
            color: $main-color;
            margin-bottom: rem(20);
        }
        .form_create_user{
            label,
            input{
                font-size: 1rem;
            }
        }
    }
}
