#title {
    margin-bottom: 10px;
}

#create_articles {
    display: flex;
}

.left-block {
    width: 55%;
}

.right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 13px;
    width: 16%;
    margin-left: 6%;
}

.title > input {
    background-color: white;
    color:black;
    padding: 10px;
    font-size: 16px;
    border: solid #C7C7C7 1px;
    border-radius: 5px;
}

#preview_eye {
    fill: black;
}

#btn-preview {
    display: flex;
    align-items: center;
    background-color: white;
    border:solid #C7C7C7 1px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    font-weight: 400;
}

.author {
    margin-top: 30px;
}

#author-select {
    padding: 10px;
    background-color: white;
    border: solid #C7C7C7 1px;
    border-radius: 5px;
    width: 100%;
}

#add_categorie {
    color: #C7C7C7;
    background-color: white;
    border: solid #C7C7C7 1px;
    border-radius: 5px;
    font-size: 16px;
    padding: 9px;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding-left: 20px;
}

.states {
    background: white;
    padding: 1em;
    border: solid #C7C7C7 1px;
    border-radius: 5px;
}

.btn-publish-delete {
    display: flex;
    flex-direction: column;
}

#btn-submit {
    padding: 10px;
    background: #232E49;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

#btn-submit:hover {
    background-color: #596F8B;
    cursor: pointer;
}

#btn-delete {
    padding: 10px;
    background: #FF624D;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#btn-delete:hover {
    background-color: #fc8070;
    cursor: pointer;
}

#add_categorie_input {
    color:black;
    padding:10px;
    border: solid #C7C7C7 1px;
    border-radius: 5px;
    background-color: white;
    margin: 0;
}

.preview-articles {
    background-color: white;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    display: none;
    overflow-y: auto;
    padding:2em;
}

.bg-preview {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 998;
    opacity: 50%;
    display: none;
}

.close_button {
    position: absolute;
    right: 0;
    top: 0;
    padding:1em;
    cursor: pointer;
}

#name_article {
    color:black;
    background: white;
    border-radius: 5px;
    border: solid #C7C7C7 1px;
    padding: 10px;
}

#list_categorie{
    color:black;
    background: white;
    border-radius: 5px;
    border: solid #C7C7C7 1px;
    padding: 10px;
}

#title_preview {
    font-weight: bold;
    margin-bottom: 20px;
}


@media (max-width:640px) {
    #create_articles {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;
    }
    .left-block {
        width: 100%;
    }
    .right-block {
        width: 100%;
        margin-left: 0;
    }
    
    #title {
        padding: 1em;
    }
    .author, .categorie, .status {
        margin-top: 15px;
    }
    .states {
        margin-bottom: 15px;
    }
    .preview-articles {
        position:fixed;
        width:80%;
        height: 80%;
    }
    
}