.galerie{
    .col-inner.card{
        height: 207px;
        padding: 0;
        display: flex;
        flex-direction: column;
        border-radius: 9px 9px 0 0;
        box-shadow: none;
        .header-card{
            display: flex;
            width: 100%;
            padding: rem(11) rem(15);
            h2{
                margin-right: rem(15);
                word-wrap: break-word;
                width: 100%;
            }
            .icon-btn{
                min-width: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    margin: 0;
                }
            }
            
        }
        .image-preview{
            width: 100%;
            height: 100%;
            img{
                object-fit: cover;
                object-position: center;
                height: 164px;
                width: 100%;
                border-radius: 0 0 9px 9px;
                box-shadow: none;
            }
        }
    }
}
@media screen and (max-width: $md-width) and (min-width: $sm-width) {
    .galerie{
        .col-inner.card{
            height: 300px;
            .image-preview{
                img{
                    height: 264px;
                }
            }
        }
    }
}

@media screen and (max-width: $sm-width){
    .galerie{
        .col-inner.card{
            .header-card{
                h2{
                    font-size: rem(18);
                }
            }
        }
    }
}