.test{
    backdrop-filter: blur(3px);
    background-color: #232e498a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    .wrapper{
    
    
        .form_builder{
            
        }
    }
}
