.container-fluid{
    height: 100%;
    .row-connexion{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 0;
        .content{
            margin-top: rem(100);
            z-index: 2;
            h1{
                color: $white;
                font-size: rem(32);
                font-weight: 500;
                margin-bottom: rem(40);
                z-index: 3;
            }
            h2{
                font-size: rem(21);
                color: $white;
                font-weight: 400;
                font-style: italic;
                margin-bottom: rem(80);
                z-index: 3;
            }
            h4{
                font-size: rem(25);
                color: $white;
                font-weight: bold;
                margin-bottom: rem(30);
                z-index: 3;
            }
            .form_builder{
                position: relative;
                .button{
                    width: 100%;
                    z-index: 3;
                }
                #show-password{
                    position: absolute;
                    margin-top: rem(20);
                    margin-right: 0;
                    right: rem(10);
                    cursor: pointer;
                }
                input{
                    z-index: 3;
                }
            }
            a{
                color: $white;
                text-decoration: underline;
                transition: color 0.8s;
                &:hover{
                    color: $hover-main-color;
                }
            }
        }
       
    }
    
}
@media screen and (max-width: 800px) {
    .container-fluid{
        .row-connexion{
            justify-content: center;
            .content{
                text-shadow: 1px 1px $grey;
                width: 70%;
                flex-basis: 70%;
                input#email,
                input#pwd{
                    color: $hover-main-color;
                    border-bottom: solid $grey 1px;
                }
            }
            .first-col{
                display: none;
            }
        }
    }
    
}

@media screen and (max-width: $sm-width) {
    .container-fluid{
        .row-connexion{
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0!important;
            
            .content{
                width: 100%;
                flex-basis: 100%;
                margin-top: rem(0)!important;
                margin-right: 0!important;
                z-index: 2;
                .col-inner{
                    h2{
                        font-size: rem(18);
                        margin-bottom: rem(50);
                    }
                    .form_builder{
                        #show-password{
                            color: $hover-main-color;
                        }
                        input{
                            margin-bottom: rem(15);
                            color: $hover-main-color;
                            border-bottom: solid $grey 1px;
                        }
                    }
                    
                    a{
                        color: $hover-main-color;
                    }
                }
                
          
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .container-fluid{
        .row-connexion{
            .content{
                .col-inner{
                    padding: rem(10) rem(5);
                    h2{
                        // font-size: rem(18);
                        margin-bottom: rem(30);
                    }
                    input{
                        margin-bottom: rem(15)
                    }
                    h4{
                        margin-bottom: rem(15);
                    }
                    input.button{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}