#title_article {
    color:black;
}

#btn-delete {
    padding: 10px;
    background: #FF624D;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}