.container-fluid{
    .row-connexion{
        .register{
            margin-top: rem(10);
            .col-inner{
                padding-bottom: 0;
                h2{
                    margin-bottom: rem(50);
                }
            }
            
        }
       
    }
    
}
@media screen and (max-width: $sm-width) {
    .container-fluid{
        .row-connexion{
            .register{
                .col-inner{
                    h2{
                        display: none;
                    }
                    h1{
                        // display: none;
                    }
                    input{
                        margin-top: 0;
                    }
                    .form_builder{
                        #show-password{
                            margin-top: rem(9);
                        }
                    }
                }
                
            }
           
        }
        
    }
}

@media screen and (max-width: 360px) {
    .container-fluid{
        .row-connexion{
            .register{
                .col-inner{
                    h1{
                        display: none;
                    }
                    .form_builder{
                        #show-password{
                            color: $white;
                        }
                    }
                }
            }
           
        }
        
    }
}