.theme{
    .card{
        flex-direction: column;
        .header-card{
            width: 100%;
            justify-content: space-between;
            #actif{
                color: $main-color;
            }
            #delete {
                color: $red;
            }
        }
        .image-preview{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 270px;
            margin-top: 1rem;
        }
        
        
        .theme_btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            color:#232E49;
            background-color: white;
            width: 35%;
            height: 30px;
            border-radius: 5px;
            border: solid #232E49 1px;
            margin-top: 20px;
            cursor: pointer;
            transition: color 0.7s ease-in-out;
            transition: background-color 0.7s ease-in-out;
            &.theme_btn_active {
                color: white;
                background-color: #232E49;
                border: none;
                &:hover{
                    background-color: $hover-main-color;
                    transition: background-color 0.7s ease-in-out;
                }
            }
            &:hover{
                background-color: $hover-main-color;
                transition: background-color 0.7s ease-in-out;
                color: $white;
            }
        }

    }
}






@media (max-width:$lg-width) {
    .theme{
        .card{
            .image-preview{
                height: 300px;
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width:$sm-width) {
    .theme{
        .card{
            .image-preview{
                height: 200px;
            }
        }
    }
}
