.head-container{
    padding-bottom: rem(47);
    .results{
        display: flex;
        align-items: center;
    }
    .head-container-btn{
        display: flex;
        justify-content: flex-end;
    }
}

.row-card{
    .card{
        .user-img{
            width: rem(87);
            height: rem(87);
            margin-right: rem(27);
        }
        .info{
            h2{
                margin-bottom: rem(10);
            }
            h3{
                margin-bottom: rem(10);
            }
        }
        .modif-user{
            label{
                color: $main-color;
                font-size: rem(16);
               height: 100%;
            }
            .lastname,.firstname,.email,#Administrateur,#Editeur{
                color: $main-color;
                width: auto;
                margin: 0;
                font-size: rem(16);
                border-bottom: solid $main-color 1px;
                // margin-top: rem(5);
                padding: 0;
            }
            .button{
                width: 100%;
                margin-bottom: 0;
                font-size: rem(16);
                padding: rem(10) rem(10);
            }
        }
    }
}
form.delete{
    display: flex;
    align-items: center;
}
@media screen and (max-width: $sm-width){
    .row-card{
        .card{
            .user-img{
                width: rem(64);
                height: rem(64);
                margin-right: rem(20);
            }
            .info{
                h2{
                    font-size: rem(15);
                    margin-bottom: rem(8);
                }
                h3{
                    font-size: rem(10);
                    margin-bottom: rem(8);
                }
                p{
                    font-size: rem(10);
                }
            }
            .modif-user{
                input{
                    width: 80%;
                }
                label{
                    font-size: rem(12);
                }
                .lastname,.firstname,.email,.Administrateur,.Editeur{
                    font-size: rem(14);
                }
                .button{
                    width: 100%;
                    margin-bottom: 0;
                    font-size: rem(14);
                    padding: rem(6) rem(6);
                }
            }
        }
    }
}