.admin{
    height: 11vh;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0px;
    z-index: 5;
    box-shadow:  0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    .container-fluid{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex{
            justify-content: center;
            align-items: center;
            .line{
                width: rem(1);
                height: 6vh;
                background-color: $main-color;
                margin-right: rem(15);
            }
            a{
                display: flex;
                align-items: center;
                .logo{
                    height: rem(74);
                    width: rem(100);
                    object-fit: contain;
                    object-position: center;
                    box-shadow: none;
                }
            }
            .mobile-settings{
                color: $main-color;
                margin-right: 0;
                height: rem(45);
                width: rem(45);
                margin-left: rem(20);
            }
        }
        
    }
}
.open{
    left: 0!important;
    .close-btn{
        display: block;
    }
    .menu-link.active{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)!important;
    }
}
main{
    min-height: 100vh;
    position: relative;
    .menu{
        .container{
            height: 100%;
        }
        .close-btn{
            display: none;
        }
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        z-index: 5;
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15%;
        height: 89vh;
        top:11vh;
        left: 0;
        position: fixed;
        .menu-link{
            height: rem(56);
            padding-left: rem(30);
            display: flex;
            align-items: center;
            a{
                .item{
                    cursor: pointer;
                }
                display: flex;
                align-items: flex-end;
                p{
                    line-height: 1rem;
                    color: $bg-color;
                    text-align: center;
                }
            }

            &.active{
                transition: all 1s ease;
                background-color: $hover-main-color;
                border-left: 3px solid $bg-color;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
            
        }
        // Hover sur le menu
        .menu-link:hover {
            background: darken($hover-main-color,10);
            transition: all 0.3s ease;
        }
        #arrow-submenu {
            position: absolute;
            right: 0;
            font-size: 20px;
            cursor: pointer;
        }
        .sub-menu-link {
            // background-color: lighten($main-color,5);
            display: none;
            align-items: center;
            opacity: 0;
            height: 0;
            transition: opacity 0.5s linear;
            a{
                .item{
                    cursor: pointer;
                }
                display: flex;
                align-items: center;
                p{
                    line-height: 1rem;
                    color: $bg-color;
                    text-align: center;
                }
            }

            &.active{
                transition: all 1s ease;
                background-color: $hover-main-color;
                border-left: 3px solid $bg-color;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }

        .show {
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: rem(112);
        }

        .sub-menu-link > a {    
            padding-left: rem(30);
            width: 100%;
            height: rem(56);
            &:nth-child(1):hover,
            &:nth-child(2):hover {
                background-color: darken($hover-main-color,10);
            }
        }
        
        .setting{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            .line{
                width: 80%;
                height: .0125rem;
                background-color: $bg-color;
                margin: 0 10% 10px 10%;
            }
            .menu-link{
                height: 56px;
            }
        }
    }
    
}


@media screen and (max-width: $lg-width){
    main{
        .menu{
            .menu-link{
                padding-left: rem(13);
            }
            
        }
    }
}
@media screen and (min-width: $sm-width) and (max-width: $md-width){
    main{
        .menu{
            width: 22%;
            .menu-link{
                padding-left: rem(15);
                
            }
        }
    }
}

@media screen and (max-width: $sm-width){
    .admin{
        height: rem(68);
        padding: 0 rem(15);
        .container-fluid{
            .flex{
                .mobile-settings{
                    height: rem(35);
                    width: rem(35);
                    margin-left: rem(15);
                }
                a{
                    .logo{
                        height: rem(40);
                        width: rem(65);
                        margin-right: 10px;
                    } 
                }
                
            }
        }
    }
    main{
        .menu{
            position: fixed;
            width: 100vw;
            height: 100vh;
            left: 100%;
            top:0;
            transition: left 1s ease;
            justify-content: center;
            .close-btn{
                button{
                    @include bouton;
                    color: $white;
                    background-color: transparent;
                    font-size: large;
                }
                display: flex;
                justify-content: flex-end;
                margin-right: 20px;
            }
            ul{
                margin-top: 0;
                .menu-link:nth-child(4){
                    margin-bottom: 50px;
                }
                .menu-link{
                    margin-bottom: rem(5);
                    display: flex;
                    justify-content: center;
                    &.active{
                        box-shadow: none;
                    }
                    .iconify{
                        display: none;
                    }
                    padding-left: 0;
                }   
            }
            .setting{
                display: none;
            }
        }
        
    }
}

@media screen and (min-width: $sm-width){
    .admin{
        .container-fluid{
            .mobile-menu-btn{
                display: none;
            }
            .line{
                display: none;
            }
        }
    }
}
