.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  .wave {
    left: 0;
    height: 100%;
    top: 0;
  }
}
#connexion-tpl{
  background-color: #232E49;
}

@media screen and (min-width: $md-width){
  .row-connexion{
    .card-message{
      top: 5vh;
      margin-left: 0;
      margin-right: 0;
      left: auto;
      right: 40px;
    }
  }
  
}
@media screen and (max-width: $md-width) {
  .wave{
    opacity: 0;
  }
  .row-connexion{
    .card-message{
      width: 90%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
