@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap);.container {
  width: 100%;
  padding-top: 11vh;
  padding-left: 15%;
  margin: 47px 67px 20px;
}
.container > section {
  padding-top: 40px;
}
.container-fluid {
  width: 100%;
  margin: 0;
}

.row {
  display: flex;
  margin: 0 -10px;
  width: auto;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.row-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-1 {
  flex-basis: 9.0909090909%;
  width: 9.0909090909%;
  padding: 0 10px;
}

.col-1 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-2 {
  flex-basis: 18.1818181818%;
  width: 18.1818181818%;
  padding: 0 10px;
}

.col-2 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-3 {
  flex-basis: 27.2727272727%;
  width: 27.2727272727%;
  padding: 0 10px;
}

.col-3 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-4 {
  flex-basis: 36.3636363636%;
  width: 36.3636363636%;
  padding: 0 10px;
}

.col-4 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-5 {
  flex-basis: 45.4545454545%;
  width: 45.4545454545%;
  padding: 0 10px;
}

.col-5 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-6 {
  flex-basis: 54.5454545455%;
  width: 54.5454545455%;
  padding: 0 10px;
}

.col-6 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-7 {
  flex-basis: 63.6363636364%;
  width: 63.6363636364%;
  padding: 0 10px;
}

.col-7 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-8 {
  flex-basis: 72.7272727273%;
  width: 72.7272727273%;
  padding: 0 10px;
}

.col-8 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-9 {
  flex-basis: 81.8181818182%;
  width: 81.8181818182%;
  padding: 0 10px;
}

.col-9 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-10 {
  flex-basis: 90.9090909091%;
  width: 90.9090909091%;
  padding: 0 10px;
}

.col-10 .col-inner {
  padding: 2.1875rem 1.5rem;
}

.col-11 {
  flex-basis: 100%;
  width: 100%;
  padding: 0 10px;
}

.col-11 .col-inner {
  padding: 2.1875rem 1.5rem;
}

@media screen and (max-width: 490px) {
  .container {
    width: 100%;
    margin: 20px 15px 10px 15px;
    padding-left: 0;
    padding-top: 65px;
  }
  .container > section {
    padding-top: 20px;
  }
  .container .col-inner {
    padding: 1.5625rem 0.9375rem;
  }
  .container .col-sm-1 {
    flex-basis: 50%;
    width: 50%;
    padding: 0 10px;
  }
  .container .col-sm-2 {
    flex-basis: 50%;
    width: 50%;
    padding: 0 10px;
  }
  .container .col-sm-3 {
    flex-basis: 50%;
    width: 50%;
    padding: 0 10px;
  }
  .container .col-sm-4 {
    flex-basis: 50%;
    width: 50%;
    padding: 0 10px;
  }
  .container .col-md-5 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-5 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-sm-5 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
  }
  .container .col-md-6 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-6 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-sm-6 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
  }
  .container .col-md-7 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-7 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-sm-7 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
  }
  .container .col-md-8 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-8 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-sm-8 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
  }
  .container .col-md-9 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-9 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-sm-9 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
  }
  .container .col-md-10 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-10 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-sm-10 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
  }
  .container .col-md-11 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-11 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-sm-11 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
    margin: 5px 0;
  }
}
@media screen and (max-width: 1000px) and (min-width: 490px) {
  .container {
    max-width: 900px;
    padding-left: 10.9375rem;
  }
  .container .col-md-5 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-md-6 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-md-7 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-md-8 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-md-9 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-md-10 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-md-11 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-5 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-6 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-7 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-8 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-9 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-10 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-11 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .container {
    max-width: 1150px;
    padding-left: 12.5rem;
  }
  .container .col-lg-5 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-6 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-7 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-8 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-9 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-10 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
  .container .col-lg-11 {
    flex-basis: 100%;
    width: 100%;
    padding: 0 10px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 100%;
  }
}
.button {
  padding: 1rem 2em;
  display: inline-block;
  color: #232E49;
  width: 490px;
  background-color: #FFF;
  border-radius: 0.5625rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
  transition-property: color, background-color;
}
.button:hover {
  background-color: #596F8B;
  color: #F2F2F2;
}
.button-inversed {
  background-color: #232E49;
  color: #FFF;
}
.button-inversed:hover {
  background-color: #596F8B;
}
.button-secondary {
  display: flex;
  align-items: center;
  margin-right: 3.125rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0.375rem 0.75rem;
  background-color: #232E49;
  color: white;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
  transition-property: color, background-color;
}
.button-secondary .plus {
  height: 0.8125rem;
  width: 0.8125rem;
  margin-right: 0.625rem;
}
.button-secondary:hover {
  background-color: #596F8B;
}
@media screen and (max-width: 760px) {
  .button {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 490px) {
  .button {
    width: 100%;
  }
}
.button:hover {
  background-color: #596F8B;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-btn .line {
  background-color: #BABABA;
  height: 0.0625rem;
  margin-bottom: 3.5625rem;
  margin-top: 3rem;
}
.add-btn button {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
  transition-property: color, background-color;
  width: 4.125rem;
  border-radius: 50%;
  height: 4.125rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.add-btn button .icon-plus {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #232E49;
  transition: 0.8s;
}
.add-btn button .icon-plus:hover {
  color: #596F8B;
}

.icon-btn button {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
  transition-property: color, background-color;
  width: 1.625rem;
  height: 1.625rem;
  background-color: transparent;
}
.icon-btn button:first-child {
  margin-right: 0.9375rem;
}
.icon-btn button .modifier {
  width: 100%;
  height: 100%;
  margin-right: 0;
  color: #232E49;
}
.icon-btn button .delete {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #FF624D;
}

.custom-select {
  position: relative;
  display: flex;
  align-items: center;
}
.custom-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}
.custom-select .iconify {
  width: 1.25rem;
  height: 1.25rem;
  color: #232E49;
  margin-right: 0;
  margin-left: 0.375rem;
}

.mobile-menu-btn {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
  transition-property: color, background-color;
  height: 1.4375rem;
  width: 1.6875rem;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
  margin-right: 0.9375rem;
}
.mobile-menu-btn div {
  background-color: #232E49;
  height: 0.1875rem;
  width: 100%;
}

@media screen and (max-width: 490px) {
  .button-secondary {
    margin-right: 0.625rem;
    padding: 0.1875rem 0.375rem !important;
  }
  .button-secondary .plus {
    margin-right: 0.3125rem;
  }
  .button-secondary p {
    font-size: 0.75rem !important;
  }

  .custom-select select {
    font-size: 0.875rem !important;
  }
  .custom-select .iconify {
    width: 1.125rem;
    height: 1.125rem;
    color: #232E49;
    margin-right: 0;
    margin-left: 0.25rem;
  }

  .icon-btn button {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.8s ease;
    transition-property: color, background-color;
    width: 1.125rem;
    height: 1.125rem;
  }
  .icon-btn button:first-child {
    margin-right: 0.4375rem;
  }

  .add-btn .line {
    margin-bottom: 1.5625rem;
    margin-top: 0.9375rem;
  }
  .add-btn button {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.8s ease;
    transition-property: color, background-color;
    width: 3.125rem;
    height: 3.125rem;
  }
}
.banner {
  width: 100%;
  display: block;
  padding-top: 42%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner--text {
  position: relative;
}
.banner--text .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner--text .bg p {
  font-size: 3.125rem;
  font-weight: 700;
}

.slider {
  width: 36rem;
  height: 24rem;
  overflow: hidden;
  position: relative;
}
.slider .slides-container {
  display: flex;
  height: 100%;
  position: relative;
  transition: left 1s;
  left: 0;
}
.slider .slide {
  width: 36rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.slider nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.slider nav button {
  width: 60px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  position: relative;
}
.slider nav button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slider nav button.prev::before {
  transform: rotate(180deg);
  transform-origin: center;
}

.iconify {
  width: 24px;
  height: 24px;
  margin-right: 1.25rem;
  color: #F2F2F2;
}

.card-message, .card-message-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.4375rem;
  position: absolute;
  z-index: 5;
  top: 5vh;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  left: 15%;
  right: 0px;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.5625rem;
  width: 26.875rem;
}
.card-message button, .card-message-error button {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.8s ease;
  transition-property: color, background-color;
  background-color: transparent;
  color: #232E49;
  font-size: 0.9375rem;
  padding: 0.125rem 0.3125rem;
  border-radius: 4px;
}
.card-message button:hover, .card-message-error button:hover {
  background-color: #232E49;
  color: #FFF;
}
.card-message-success {
  border-top: solid #42DA74 8px;
}
.card-message-success p {
  font-size: 1rem;
  font-weight: 300;
  color: #42DA74;
  width: 90%;
}
.card-message-error {
  border-top: solid #FF624D 8px;
}
.card-message-error p {
  color: #FF624D;
}

.delete-user {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-user .card-message, .delete-user .card-message-error {
  position: relative;
  top: 0;
  left: 0;
  width: 600px;
  margin: 0;
}
.delete-user .card-message p, .delete-user .card-message-error p {
  font-size: 1.5rem;
}
.delete-user .card-message .bouton, .delete-user .card-message-error .bouton {
  display: flex;
  align-items: center;
}
.delete-user .card-message .bouton button, .delete-user .card-message-error .bouton button {
  font-size: 1rem;
  margin: 0 5px;
}

@media screen and (max-width: 490px) {
  .card-message, .card-message-error {
    left: 0;
    width: 90%;
  }

  .delete-user .card-message, .delete-user .card-message-error {
    width: 90%;
  }
  .delete-user .card-message p, .delete-user .card-message-error p {
    font-size: 1rem;
  }
  .delete-user .card-message .bouton button, .delete-user .card-message-error .bouton button {
    font-size: 0.75rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F2F2F2;
}

.flex {
  display: flex;
}

.header {
  width: 100%;
  background-color: #FFF;
}

ul {
  padding: 0;
  margin-top: 1.4375rem;
  margin-bottom: 0;
  list-style-type: none;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  color: #232E49;
}

a {
  text-decoration: none;
  font-weight: bold;
}

img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
  font-size: 1.5625rem;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
}

p {
  line-height: 1.4em;
}

.user-img {
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

label {
  font-size: 1.25rem;
  color: #FFF;
  font-weight: 400;
}

input {
  background: none;
  border: none;
  border-bottom: solid white 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1em;
  color: white;
  width: 100%;
  margin-bottom: 1.875rem;
  margin-top: 0.9375rem;
}

.display-none {
  display: none;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.row-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}
.row-card .card {
  margin-bottom: 2.9375rem;
  background-color: #FFF;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: space-between;
  border-radius: 0.5625rem;
  align-items: center;
}

@media screen and (max-width: 490px) {
  .row-card .card {
    margin-bottom: 1.875rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  .admin .user-img {
    width: 2.8125rem !important;
    height: 2.8125rem !important;
  }

  .head-container .results h3 {
    font-size: 0.75rem;
  }
}
.admin {
  height: 11vh;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  top: 0px;
  z-index: 5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.admin .container-fluid {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin .container-fluid .flex {
  justify-content: center;
  align-items: center;
}
.admin .container-fluid .flex .line {
  width: 0.0625rem;
  height: 6vh;
  background-color: #232E49;
  margin-right: 0.9375rem;
}
.admin .container-fluid .flex a {
  display: flex;
  align-items: center;
}
.admin .container-fluid .flex a .logo {
  height: 4.625rem;
  width: 6.25rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  box-shadow: none;
}
.admin .container-fluid .flex .mobile-settings {
  color: #232E49;
  margin-right: 0;
  height: 2.8125rem;
  width: 2.8125rem;
  margin-left: 1.25rem;
}

.open {
  left: 0 !important;
}
.open .close-btn {
  display: block;
}
.open .menu-link.active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

main {
  min-height: 100vh;
  position: relative;
}
main .menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 5;
  background-color: #232E49;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 89vh;
  top: 11vh;
  left: 0;
  position: fixed;
}
main .menu .container {
  height: 100%;
}
main .menu .close-btn {
  display: none;
}
main .menu .menu-link {
  height: 3.5rem;
  padding-left: 1.875rem;
  display: flex;
  align-items: center;
}
main .menu .menu-link a {
  display: flex;
  align-items: flex-end;
}
main .menu .menu-link a .item {
  cursor: pointer;
}
main .menu .menu-link a p {
  line-height: 1rem;
  color: #F2F2F2;
  text-align: center;
}
main .menu .menu-link.active {
  transition: all 1s ease;
  background-color: #596F8B;
  border-left: 3px solid #F2F2F2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
main .menu .menu-link:hover {
  background: #45566c;
  transition: all 0.3s ease;
}
main .menu #arrow-submenu {
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}
main .menu .sub-menu-link {
  display: none;
  align-items: center;
  opacity: 0;
  height: 0;
  transition: opacity 0.5s linear;
}
main .menu .sub-menu-link a {
  display: flex;
  align-items: center;
}
main .menu .sub-menu-link a .item {
  cursor: pointer;
}
main .menu .sub-menu-link a p {
  line-height: 1rem;
  color: #F2F2F2;
  text-align: center;
}
main .menu .sub-menu-link.active {
  transition: all 1s ease;
  background-color: #596F8B;
  border-left: 3px solid #F2F2F2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
main .menu .show {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
}
main .menu .sub-menu-link > a {
  padding-left: 1.875rem;
  width: 100%;
  height: 3.5rem;
}
main .menu .sub-menu-link > a:nth-child(1):hover, main .menu .sub-menu-link > a:nth-child(2):hover {
  background-color: #45566c;
}
main .menu .setting {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
main .menu .setting .line {
  width: 80%;
  height: 0.0125rem;
  background-color: #F2F2F2;
  margin: 0 10% 10px 10%;
}
main .menu .setting .menu-link {
  height: 56px;
}

@media screen and (max-width: 1300px) {
  main .menu .menu-link {
    padding-left: 0.8125rem;
  }
}
@media screen and (min-width: 490px) and (max-width: 1000px) {
  main .menu {
    width: 22%;
  }
  main .menu .menu-link {
    padding-left: 0.9375rem;
  }
}
@media screen and (max-width: 490px) {
  .admin {
    height: 4.25rem;
    padding: 0 0.9375rem;
  }
  .admin .container-fluid .flex .mobile-settings {
    height: 2.1875rem;
    width: 2.1875rem;
    margin-left: 0.9375rem;
  }
  .admin .container-fluid .flex a .logo {
    height: 2.5rem;
    width: 4.0625rem;
    margin-right: 10px;
  }

  main .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    transition: left 1s ease;
    justify-content: center;
  }
  main .menu .close-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  main .menu .close-btn button {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.8s ease;
    transition-property: color, background-color;
    color: #FFF;
    background-color: transparent;
    font-size: large;
  }
  main .menu ul {
    margin-top: 0;
  }
  main .menu ul .menu-link:nth-child(4) {
    margin-bottom: 50px;
  }
  main .menu ul .menu-link {
    margin-bottom: 0.3125rem;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  main .menu ul .menu-link.active {
    box-shadow: none;
  }
  main .menu ul .menu-link .iconify {
    display: none;
  }
  main .menu .setting {
    display: none;
  }
}
@media screen and (min-width: 490px) {
  .admin .container-fluid .mobile-menu-btn {
    display: none;
  }
  .admin .container-fluid .line {
    display: none;
  }
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.bg .wave {
  left: 0;
  height: 100%;
  top: 0;
}

#connexion-tpl {
  background-color: #232E49;
}

@media screen and (min-width: 1000px) {
  .row-connexion .card-message, .row-connexion .card-message-error {
    top: 5vh;
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .wave {
    opacity: 0;
  }

  .row-connexion .card-message, .row-connexion .card-message-error {
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.test {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: #232e498a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.icon-btn-articles {
  margin-top: 100px !important;
}

.row-articles {
  display: flex;
  padding-bottom: 0;
}
.row-articles .utilisateur {
  margin-bottom: 2.9375rem;
  background-color: #FFF;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: space-between;
  border-radius: 0.5625rem;
  align-items: center;
}

.head-container {
  padding-bottom: 2.9375rem;
}
.head-container .results {
  display: flex;
  align-items: center;
}
.head-container .head-container-btn {
  display: flex;
  justify-content: flex-end;
}

.row-card .card .user-img {
  width: 5.4375rem;
  height: 5.4375rem;
  margin-right: 1.6875rem;
}
.row-card .card .info h2 {
  margin-bottom: 0.625rem;
}
.row-card .card .info h3 {
  margin-bottom: 0.625rem;
}
.row-card .card .modif-user label {
  color: #232E49;
  font-size: 1rem;
  height: 100%;
}
.row-card .card .modif-user .lastname, .row-card .card .modif-user .firstname, .row-card .card .modif-user .email, .row-card .card .modif-user #Administrateur, .row-card .card .modif-user #Editeur {
  color: #232E49;
  width: auto;
  margin: 0;
  font-size: 1rem;
  border-bottom: solid #232E49 1px;
  padding: 0;
}
.row-card .card .modif-user .button {
  width: 100%;
  margin-bottom: 0;
  font-size: 1rem;
  padding: 0.625rem 0.625rem;
}

form.delete {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 490px) {
  .row-card .card .user-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.25rem;
  }
  .row-card .card .info h2 {
    font-size: 0.9375rem;
    margin-bottom: 0.5rem;
  }
  .row-card .card .info h3 {
    font-size: 0.625rem;
    margin-bottom: 0.5rem;
  }
  .row-card .card .info p {
    font-size: 0.625rem;
  }
  .row-card .card .modif-user input {
    width: 80%;
  }
  .row-card .card .modif-user label {
    font-size: 0.75rem;
  }
  .row-card .card .modif-user .lastname, .row-card .card .modif-user .firstname, .row-card .card .modif-user .email, .row-card .card .modif-user .Administrateur, .row-card .card .modif-user .Editeur {
    font-size: 0.875rem;
  }
  .row-card .card .modif-user .button {
    width: 100%;
    margin-bottom: 0;
    font-size: 0.875rem;
    padding: 0.375rem 0.375rem;
  }
}
.container .create_user {
  background-color: #FFF;
  margin-bottom: 1.25rem;
  padding: 1.25rem 1.25rem 0 1.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.5625rem;
}
.container .create_user h1 {
  color: #232E49;
  margin-bottom: 1.25rem;
}
.container .create_user .form_create_user label,
.container .create_user .form_create_user #firstname,
.container .create_user .form_create_user #lastname,
.container .create_user .form_create_user #email,
.container .create_user .form_create_user #pwd,
.container .create_user .form_create_user #pwdConfirm {
  color: #232E49;
}
.container .create_user .form_create_user input {
  border-bottom: solid #232E49 1px;
  color: #232E49;
}
.container .create_user .form_create_user input#Administrateur,
.container .create_user .form_create_user input#Editeur {
  width: 20px;
}

@media screen and (max-width: 490px) {
  .create_user h1 {
    color: #232E49;
    margin-bottom: 1.25rem;
  }
  .create_user .form_create_user label,
.create_user .form_create_user input {
    font-size: 1rem;
  }
}
.container-fluid {
  height: 100%;
}
.container-fluid .row-connexion {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 0;
}
.container-fluid .row-connexion .content {
  margin-top: 6.25rem;
  z-index: 2;
}
.container-fluid .row-connexion .content h1 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  z-index: 3;
}
.container-fluid .row-connexion .content h2 {
  font-size: 1.3125rem;
  color: #FFF;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 5rem;
  z-index: 3;
}
.container-fluid .row-connexion .content h4 {
  font-size: 1.5625rem;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 1.875rem;
  z-index: 3;
}
.container-fluid .row-connexion .content .form_builder {
  position: relative;
}
.container-fluid .row-connexion .content .form_builder .button {
  width: 100%;
  z-index: 3;
}
.container-fluid .row-connexion .content .form_builder #show-password {
  position: absolute;
  margin-top: 1.25rem;
  margin-right: 0;
  right: 0.625rem;
  cursor: pointer;
}
.container-fluid .row-connexion .content .form_builder input {
  z-index: 3;
}
.container-fluid .row-connexion .content a {
  color: #FFF;
  text-decoration: underline;
  transition: color 0.8s;
}
.container-fluid .row-connexion .content a:hover {
  color: #596F8B;
}

@media screen and (max-width: 800px) {
  .container-fluid .row-connexion {
    justify-content: center;
  }
  .container-fluid .row-connexion .content {
    text-shadow: 1px 1px #C7C7C7;
    width: 70%;
    flex-basis: 70%;
  }
  .container-fluid .row-connexion .content input#email,
.container-fluid .row-connexion .content input#pwd {
    color: #596F8B;
    border-bottom: solid #C7C7C7 1px;
  }
  .container-fluid .row-connexion .first-col {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  .container-fluid .row-connexion {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 !important;
  }
  .container-fluid .row-connexion .content {
    width: 100%;
    flex-basis: 100%;
    margin-top: 0rem !important;
    margin-right: 0 !important;
    z-index: 2;
  }
  .container-fluid .row-connexion .content .col-inner h2 {
    font-size: 1.125rem;
    margin-bottom: 3.125rem;
  }
  .container-fluid .row-connexion .content .col-inner .form_builder #show-password {
    color: #596F8B;
  }
  .container-fluid .row-connexion .content .col-inner .form_builder input {
    margin-bottom: 0.9375rem;
    color: #596F8B;
    border-bottom: solid #C7C7C7 1px;
  }
  .container-fluid .row-connexion .content .col-inner a {
    color: #596F8B;
  }
}
@media screen and (max-width: 350px) {
  .container-fluid .row-connexion .content .col-inner {
    padding: 0.625rem 0.3125rem;
  }
  .container-fluid .row-connexion .content .col-inner h2 {
    margin-bottom: 1.875rem;
  }
  .container-fluid .row-connexion .content .col-inner input {
    margin-bottom: 0.9375rem;
  }
  .container-fluid .row-connexion .content .col-inner h4 {
    margin-bottom: 0.9375rem;
  }
  .container-fluid .row-connexion .content .col-inner input.button {
    margin-top: 0;
  }
}
#title {
  margin-bottom: 10px;
}

#create_articles {
  display: flex;
}

.left-block {
  width: 55%;
}

.right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 13px;
  width: 16%;
  margin-left: 6%;
}

.title > input {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: solid #C7C7C7 1px;
  border-radius: 5px;
}

#preview_eye {
  fill: black;
}

#btn-preview {
  display: flex;
  align-items: center;
  background-color: white;
  border: solid #C7C7C7 1px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  font-weight: 400;
}

.author {
  margin-top: 30px;
}

#author-select {
  padding: 10px;
  background-color: white;
  border: solid #C7C7C7 1px;
  border-radius: 5px;
  width: 100%;
}

#add_categorie {
  color: #C7C7C7;
  background-color: white;
  border: solid #C7C7C7 1px;
  border-radius: 5px;
  font-size: 16px;
  padding: 9px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding-left: 20px;
}

.states {
  background: white;
  padding: 1em;
  border: solid #C7C7C7 1px;
  border-radius: 5px;
}

.btn-publish-delete {
  display: flex;
  flex-direction: column;
}

#btn-submit {
  padding: 10px;
  background: #232E49;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

#btn-submit:hover {
  background-color: #596F8B;
  cursor: pointer;
}

#btn-delete {
  padding: 10px;
  background: #FF624D;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
  border: none;
  border-radius: 5px;
  width: 100%;
}

#btn-delete:hover {
  background-color: #fc8070;
  cursor: pointer;
}

#add_categorie_input {
  color: black;
  padding: 10px;
  border: solid #C7C7C7 1px;
  border-radius: 5px;
  background-color: white;
  margin: 0;
}

.preview-articles {
  background-color: white;
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  overflow-y: auto;
  padding: 2em;
}

.bg-preview {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  opacity: 50%;
  display: none;
}

.close_button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  cursor: pointer;
}

#name_article {
  color: black;
  background: white;
  border-radius: 5px;
  border: solid #C7C7C7 1px;
  padding: 10px;
}

#list_categorie {
  color: black;
  background: white;
  border-radius: 5px;
  border: solid #C7C7C7 1px;
  padding: 10px;
}

#title_preview {
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 640px) {
  #create_articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
  }

  .left-block {
    width: 100%;
  }

  .right-block {
    width: 100%;
    margin-left: 0;
  }

  #title {
    padding: 1em;
  }

  .author, .categorie, .status {
    margin-top: 15px;
  }

  .states {
    margin-bottom: 15px;
  }

  .preview-articles {
    position: fixed;
    width: 80%;
    height: 80%;
  }
}
.container-fluid .row-connexion .register {
  margin-top: 0.625rem;
}
.container-fluid .row-connexion .register .col-inner {
  padding-bottom: 0;
}
.container-fluid .row-connexion .register .col-inner h2 {
  margin-bottom: 3.125rem;
}

@media screen and (max-width: 490px) {
  .container-fluid .row-connexion .register .col-inner h2 {
    display: none;
  }
  .container-fluid .row-connexion .register .col-inner input {
    margin-top: 0;
  }
  .container-fluid .row-connexion .register .col-inner .form_builder #show-password {
    margin-top: 0.5625rem;
  }
}
@media screen and (max-width: 360px) {
  .container-fluid .row-connexion .register .col-inner h1 {
    display: none;
  }
  .container-fluid .row-connexion .register .col-inner .form_builder #show-password {
    color: #FFF;
  }
}
#title_article {
  color: black;
}

#btn-delete {
  padding: 10px;
  background: #FF624D;
  color: white;
  padding-left: 3em;
  padding-right: 3em;
  border: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.galerie .col-inner.card {
  height: 207px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 9px 9px 0 0;
  box-shadow: none;
}
.galerie .col-inner.card .header-card {
  display: flex;
  width: 100%;
  padding: 0.6875rem 0.9375rem;
}
.galerie .col-inner.card .header-card h2 {
  margin-right: 0.9375rem;
  word-wrap: break-word;
  width: 100%;
}
.galerie .col-inner.card .header-card .icon-btn {
  min-width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.galerie .col-inner.card .header-card .icon-btn button {
  margin: 0;
}
.galerie .col-inner.card .image-preview {
  width: 100%;
  height: 100%;
}
.galerie .col-inner.card .image-preview img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 164px;
  width: 100%;
  border-radius: 0 0 9px 9px;
  box-shadow: none;
}

@media screen and (max-width: 1000px) and (min-width: 490px) {
  .galerie .col-inner.card {
    height: 300px;
  }
  .galerie .col-inner.card .image-preview img {
    height: 264px;
  }
}
@media screen and (max-width: 490px) {
  .galerie .col-inner.card .header-card h2 {
    font-size: 1.125rem;
  }
}
.row-card.comment-page .card .info {
  min-width: 14rem;
  border-right: 1px solid #C7C7C7;
  margin-right: 3.125rem;
}
.row-card.comment-page .card .info h2 {
  margin-bottom: 1rem;
}
.row-card.comment-page .card .info p {
  margin-bottom: 0.4375rem;
}
.row-card.comment-page .card .commentaire {
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
}
.row-card.comment-page .card .commentaire p {
  line-height: 1.5rem;
}
.row-card.comment-page .card .commentaire .read-more {
  margin-top: 1.5625rem;
  text-align: end;
  font-weight: 300;
  font-style: italic;
  color: #596F8B;
  text-decoration: none;
}
.row-card.comment-page .card .icon-btn button {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .row-card.comment-page .card .info {
    min-width: 8rem;
  }
}
.theme .card {
  flex-direction: column;
}
.theme .card .header-card {
  width: 100%;
  justify-content: space-between;
}
.theme .card .header-card #actif {
  color: #232E49;
}
.theme .card .header-card #delete {
  color: #FF624D;
}
.theme .card .image-preview {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 270px;
  margin-top: 1rem;
}
.theme .card .theme_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #232E49;
  background-color: white;
  width: 35%;
  height: 30px;
  border-radius: 5px;
  border: solid #232E49 1px;
  margin-top: 20px;
  cursor: pointer;
  transition: color 0.7s ease-in-out;
  transition: background-color 0.7s ease-in-out;
}
.theme .card .theme_btn.theme_btn_active {
  color: white;
  background-color: #232E49;
  border: none;
}
.theme .card .theme_btn.theme_btn_active:hover {
  background-color: #596F8B;
  transition: background-color 0.7s ease-in-out;
}
.theme .card .theme_btn:hover {
  background-color: #596F8B;
  transition: background-color 0.7s ease-in-out;
  color: #FFF;
}

@media (max-width: 1300px) {
  .theme .card .image-preview {
    height: 300px;
    margin-top: 1rem;
  }
}
@media (max-width: 490px) {
  .theme .card .image-preview {
    height: 200px;
  }
}