@function rem($pxval) {
    $base: 16;
    @return ($pxval / $base) * 1rem;
}
@mixin cover-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // si balise image mettre la taille du block + : object-fit:cover
    //object-position: center;
}
@mixin image{
    object-fit: cover;
    object-position: center;
}
@mixin bouton{
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.8s ease;
    transition-property: color, background-color;
}