*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $font1;
    background-color: $bg-color;
}

.flex{
    display: flex;
}
.header{
    width: 100%;
    background-color: $white;
}
ul{
    padding: 0;
    margin-top: 1.4375rem;
    margin-bottom: 0;
    list-style-type: none;
}
h1,h2{
    font-family: $font1;
    color: $main-color;
}
a{
    text-decoration: none;
    font-weight: bold;
}
img{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
h1{
    font-size: rem(25);
    font-weight: 500;
    margin: 0;
}
h2{
    font-size: rem(20);
    font-weight: bold;
}
h3{
    font-size: rem(16);
    font-style: italic;
    font-weight: 300;
}
p{
    line-height: 1.4em;
}
.user-img{
    width: rem(74);
    height: rem(74);
    border-radius: 50%;
    @include image;
}
label{
    font-size: rem(20);
    color: $white;
    font-weight: 400;
}

input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    padding-top: rem(8);
    padding-bottom: rem(8);
    font-size: rem(20);
    line-height: 1em;
    color: white;
    width: 100%;
    margin-bottom: rem(30);
    margin-top: rem(15);
}

.display-none{
    display: none;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}

.row-card{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    .card{
        margin-bottom: rem(47);
        background-color: $white;
        display: flex;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        justify-content: space-between;
        border-radius: rem(9);
        align-items: center;
    }
}

@media screen and (max-width: $sm-width){
    .row-card{
        .card{
            margin-bottom: rem(30);
        }
    }
    h1{
        font-size: rem(20);
    }
    .admin{

        .user-img{
            width: rem(45)!important;
            height: rem(45)!important;
        }
    }
    .head-container{
        .results{
            h3{
                font-size: rem(12);
            }
        }
    }
    
    // h3{
    //     font-size: rem(14)!important;
    // }
}
